{% extends 'layout.html' %}

{% block body %}
<h1>{{ title }}</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Device</th>
        <th scope="col">Image</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Valid</th>
      </tr>
    </thead>
    <tbody>
    {% for row in rows %}
      <tr>
        <td>{{ row.device }}</td>
        <td>{{ row.image_url }}</td>
        <td>{{ row.capture_date }}</td>
        <td>{{ row.capture_time }}</td>
        <td>{{ row.valid_capture }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>


{% endblock %}