{% extends 'layout.html' %}

{% block body %}
<h1>{{ title }}</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Device</th>
        <th scope="col">Image</th>
        <th scope="col">Boxed</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Valid</th>
      </tr>
    </thead>
    <tbody>
    {% for row in rows %}
    {% set image_source = row.image_url.replace('www.dropbox.com','dl.dropboxusercontent.com') %}
      <tr>
        <td>{{ row.device }}</td>
        <td><img class="img-thumbnail" src={{ image_source }}/></td>
        <td><img class="img-thumbnail" src={{ row.prediction_url}}/></td>
        <td>{{ row.capture_date }}</td>
        <td>{{ row.capture_time }}</td>
        <td>{{ row.valid_capture }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>


{% endblock %}